*~
.emacs.desktop
.emacs.desktop.lock
.python-environments
.ipa
.mc-lists.el
ac-comphist.dat
auto-install/
auto-save-list/
bm-repository
el-get/
elpa/
history
kkcrc
persp-confs/
places
private-sdic/
recentf
tutorial/
url/
semanticdb/
smex-items
public-sdic/eiwa.sdic
public-sdic/waei.sdic
scratch_pop/
ddskk/
skk-get-jisyo/
ido.last
projectile-bookmarks.eld
projectile.cache
games/
.lsp-session-v1
transient/
site-lisp/git-complete/
lsp-cache/
.log/

# Compiled
*.elc

# Packaging
.cask
