*~
.emacs.desktop
.emacs.desktop.lock
.python-environments
.ipa
ac-comphist.dat
auto-install/
auto-save-list/
bm-repository
el-get/
elpa/
history
kkcrc
places
private-sdic/
recentf
tutorial/
url/
# Compiled
*.elc

# Packaging
.cask
